<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Efiction Languages" lan="LAN_EFICTION_LANGUAGES" version="1.0" date="2023-08-22" compatibility="2.3" installRequired="false" >
	<author name="Jimako" url="https://www.e107sk.com" />
	<summary lan="">eFiction Languages strings needed for efiction plugins </summary>
	<description lan="">eFiction is a software program that enables users to run automated original or fanfiction archives on their websites.</description>
	<keywords>
		<word>information</word>
		<word>content</word>
		<word>efiction</word>
	</keywords>
	<category>content</category>
	<copyright>e107sk</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" icon128="images/icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
</e107Plugin>